    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light navbar-dark border-bottom box-shadow mb-3" style="background-color:#64acff">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BioLab</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Kerko analize</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-action="AddAnaliz" asp-controller="Home">Krijo analize</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link text-dark" asp-action="AddFleteAnalize" asp-controller="Home">Krijo Flete analize</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-action="kerkoFleta" asp-controller="Home">Kerko Flete analize</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-action="kerkoPacient" asp-controller="Home">Kerko pacient </a>
                        </li>  
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-action="KerkoMeDate" asp-controller="Home">Kerko me date </a>
                        </li> 

                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-action="homepage" asp-controller="Home">home page</a>
                        </li> 
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-action="Home" asp-controller="Home">home </a>
                        </li> 
                        

                    </ul>
                </div>
            </div>
        </nav>
    </header>