@model Pacient
<partial name="NavPartial"/>
<div class="mt-5 container">


<h1>
  @ViewBag.thisflet.Emri
</h1>

<h3>shto nje pacient </h3>



        <h1 class="text-center">Krijo nje analize</h1>
    
    

<div class="row">
  <form  asp-controller="Home" asp-action="PerdorurFlete" asp-route-id="@ViewBag.id"  method="post">
    <div class="col-sm-6">
      

             <div class="form-group">
                  <span asp-validation-for="Emripacientit"></span>
                  <label asp-for="Emripacientit"></label>
                  <input asp-for="Emripacientit" class="form-control" >
                </div>
                <div class="form-group">
                  <label  asp-for="Gjinia"></label>
                <select  asp-for="Gjinia" class="form-control">
                    <option >Femer</option>
                    <option >Mashkull</option>
                </select>  
                </div>
                  <div class="form-group">
                <label  asp-for="Tipi"></label>
                <select  asp-for="Tipi" class="form-control">
                    <option >i Rritur</option>
                    <option >Femije</option>
                </select>
                </div>
                <div class="form-group">
                 
                  <label asp-for="Mosha"></label>
                  <input asp-for="Mosha" class="form-control" >
                
                </div>
                 <div class="form-group">
                  <span asp-validation-for="NrPersonal"></span>
                  <label asp-for="NrPersonal"></label>
                  <input asp-for="NrPersonal" class="form-control" >
                </div>
    </div>
        
    <div class="col-sm-6">
      <button type="submit" class="btn btn-primary mt-3">Vendos te dhenat e Pacientit</button>
      <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3 mr-3" > Kthehu pas</a>
      </div>
</form>
</div>

</div>


    